Django==3.1.12
gunicorn
django-heroku
django-friendship
django-webpack-loader
django-cors-headers
django-storages
django-model-utils
dj-database-url
social-auth-app-django
python-Levenshtein
python-decouple
whitenoise
boto3
Pillow
channels
channels_redis
psycopg2
numpy
scipy
PyJWT
