Django==2.2.10
gunicorn
django-heroku
social-auth-app-django
django-bootstrap4
whitenoise
django-friendship
boto3
django-storages
Pillow
channels
channels_redis
django-model-utils
dj-database-url
psycopg2==2.8.4
pandas
fuzzywuzzy
python-Levenshtein
numpy
scipy
django-webpack-loader
django-cors-headers
python-decouple
