<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}Sign in{% endblock %}


{% block content %}
<div class="container col-xs-8 col-sm-8 col-md-6 col-lg-4 col-xs-offset-0 col-sm-offset-0">
	<div class="card mt-3 mb-3" style="width:100%; margin: 0 auto;">
		<div class="card-header">
			<h4>Sign In</h4>
		</div>
		<div class="card-body">
			<a href="{% url 'social:begin' 'google-oauth2' %}">
				<button class="btn-outline-primary btn">Sign in with Google</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}