{% extends 'reg_base.html' %}

{% block title %}Reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="justify-content-center row align-items-center " style="height:100vh;">
      <div class="col-xs-8 col-sm-8 col-md-6 col-lg-4">
        <div class="card mt-3 mb-3">
          <div style="font-size:20px;" class="card-header text-center">
            Reset Password
          </div>
          <div class="card-body" style="display: block;">
            <div>
            {% if form.errors %}
              {% for key, value in form.errors.items %}
              <strong style="color:red;">{{value}}</strong>
              {% endfor %}
            {% endif %}
            </div>
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group mb-1">
                <label for="username">Email</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">*Please enter your UVa email</small>
              </div>
              <div class="text-end"> 
                <input style="margin-left: 5px;" id='login_submit' class="btn btn-outline-primary" type="submit" value="Send">
              </div>
            </form>
            <div class="text-end mt-2"> 
              <a href="/login/" style="font-size:13px;margin-right: 7px;">Back to Login</a>
              <a href="/signup/" style="font-size:13px">Create a New Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
