{% extends 'reg_base.html' %}

{% block title %}Reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="justify-content-center row align-items-center " style="height:100vh;">
      <div class="col-xs-8 col-sm-8 col-md-6">
        <div class="card mt-3 mb-3">
          <div style="font-size:20px;" class="card-header text-center">
            Reset Password
          </div>
          <div class="card-body">
            <p class="card-text">
              We've emailed you instructions for setting your password,
              if an account exists with the email you entered. You should receive them shortly.
            </p>
            <p class="card-text">
              If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
