{% extends 'reg_base.html' %}

{% block title %}Reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="justify-content-center row align-items-center " style="height:100vh;">
      <div class="col-xs-8 col-sm-8 col-md-6 col-lg-4">
        {% if validlink %}
        <div class="card mt-3 mb-3">
          <div style="font-size:20px;" class="card-header text-center">
            Reset Password
          </div>
          <div class="card-body" style="display: block;">
            <div>
            {% if form.errors %}
              {% for key, value in form.errors.items %}
              <strong style="color:red;">{{value}}</strong>
              {% endfor %}
            {% endif %}
            </div>
            <form action="" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="new_password1">New Password</label>
                <input type="password" autocomplete="new-password" name="new_password1" class="form-control" id="new_password1" aria-describedby="password1Help">
                <div id="password1Help" style="font-size:12px;" class="form-text">*Must be at least 8 characters</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="new_password2">New Password Confirmation</label>
                <input type="password" autocomplete="new-password" name="new_password2" class="form-control" id="new_password2">
              </div>
              <div class="text-end"> 
                <input style="margin-left: 5px;" id='login_submit' class="btn btn-outline-primary" type="submit" value="Reset Password">
              </div>
            </form>
          </div>
        </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            This password reset link is invalid. 
            Please request a new password reset.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
