/* .nav-item {
    font-family: Baskerville, "Baskerville Old Face", sans-serif;
    font-size: 20px;
}

.navbar-brand{
    font-family: Baskerville, "Baskerville Old Face", sans-serif;
} */

body{
    width:100%;
    /* height: 100%; */
    background: url("images/cloud_new_base_02.83d1c76b0e90.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
    /* position: relative; */
    /* background-image: url("images/header.91d104cfbdf6.svg");
    background-image: url("images/header.91d104cfbdf6.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/header.91d104cfbdf6.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/header.91d104cfbdf6.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/header.91d104cfbdf6.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%); */
    /* background-color: #ffffff; */
    /* background-size: 100% 100%;
    background-size: 128px 128px, 100% 100%, auto; */
    /* background-repeat: repeat, no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; */
  }

  body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
  }

  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
  }
  

/* Top & Bottom Borders Out */
/* .topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content:"";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}
.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
} */

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #0f9273;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(50, 164, 154) !important;
    position: relative;
    /* margin-top: -180px;
    height: 180px; */
    clear: both;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
    color:#ffffff;
	padding: 3px 0;
	-webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	/* font-weight:700; */
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li span i{
    color:#ffffff;
	margin-right: 5px;
}


  #navbar-left-div ul li a {
    border-bottom: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 320;
    letter-spacing: 0.20em;
    text-transform: uppercase;
  }
  
  .navbar-nav .nav-item .nav-link .fav-dropdown{
      color: rgb(255, 0, 0);
  }
  
  .navbar-nav .nav-item .nav-link {
    color:rgb(0, 0, 0);
  }
  
  .navbar-msn .navbar-toggler span {
    color:#000000;
  }
  
  .navbar-msn .dropdown-menu {
    /* background-color: #ff5500; */
  }
  .navbar-msn .dropdown-item {
    font-family: "Raleway", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 340 !important;
    letter-spacing: 0.08em !important;
    /* color: #ffffff; */
  }
  .navbar-msn .dropdown-item:hover,
  .navbar-msn .dropdown-item:focus {
    /* color: rgb(15, 15, 15);
    background-color: rgb(36, 240, 240); */
  }
  
  .fa-heart {
    color:#ee184d;
  }
  
  .navbar-msn .nav-item.active .nav-link,
  .navbar-msn .nav-item:hover .nav-link {
      color: #636363;
  }
  
  .navbar-msn{
    background-color: #ffffff;
    /* background:transparent; */
  }
  
  
  
  #navbar-left-div ul li {
      border-left: solid 1px rgba(197, 197, 197, 0.945);
      line-height: 1;
      margin-left: 1em;
      padding-left: 1em;
  }
  
  #navbar-left-div ul li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }