
.big-container{
    /* height:600px; */
    padding: 0 0 50px 0;
    }

.chat-img{ 
    max-width:100%;
    border-radius:15%;
}

.inbox-users {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.chat-big-container {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.recent-heading {float: left; width:40%;}

.recent-heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

.chat-user-heading {float: left; width:40%;}

.chat-user-heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

.inbox-heading{ 
    padding:10px 29px 10px 20px; 
    overflow:hidden; 
    border-bottom:1px solid #c4c4c4;
    height:52px;
}
.chat-messages-heading{ 
    padding:10px 29px 10px 20px; 
    overflow:hidden; 
    border-bottom:1px solid #c4c4c4;
    height:52px;
}

.inbox-search {
  display: inline-block;
  text-align: right;
  width: 60%;
}


.inbox-search input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.inbox-search .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.inbox-search .input-group-addon { margin: 0 0 0 -27px;}

.chat-avatar {
  float: left;
  width: 15%;
}
.chat-bf {
  float: left;
  padding: 0 0 0 15px;
  width: 77%;
}
.chat-bf h5{ font-size:16px; color:#464646; margin:0 0 4px 0;}
.chat-bf h5 span{ font-size:13px; float:right;}
.chat-bf p{ 
  font-size:13px; 
  color:#989898; 
  margin:auto;
  height:40px;
  overflow:hidden;
}
.chat-bf p span{ 
  float:right;
  font-size: 12px;
  width: 27px;
  /* width: 15%; */
}

.chat-user{ overflow:hidden; clear:both;}
.chat-list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 11px 11px 11px;
}
.chat-all-users { 
    height: 563px; 
    overflow-y: scroll;}

.chat-active{ background:#ebebeb;}

.msg-sent-img-div {
    display: inline-block;
    width: 6%;
  }

.msg-sent-text-div {
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: 92%;
  }

.msg-received-img-div {
  display: inline-block;
  width: 6%;
}
.msg-received-text-div {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .msg-received-text p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.msg-time {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.msg-received-text { width: 50%;}

.msg-sent-text p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
.msg-sent{ overflow:hidden; margin:13px 0 13px;}
.msg-received{ overflow:hidden; margin:13px 0 13px;}

.msg-sent-text {
float: right;
width: 50%;
}

.chat-messages {
  float: left;
  padding: 10px 15px 0 25px;
  width: 100%;
}

.chat-messages-div {
    float: left;
    /* padding: 0px 15px 0 25px; */
    width: 60%;
  }

.chat-history {
    height: 504px;
    overflow-y: auto;
  }

.chat-typing {border-top: 1px solid #c4c4c4;position: relative;}

.chat-typing-input input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.chat-message-submit {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}