*{
  box-sizing: border-box;
}

body{
  /* width:100%;
  height: 100%;
  background: url('images/cloud_02.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
  /* position: relative;
  background-image: url("images/header.svg");
  background-image: url("images/header.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #ffffff;
  background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
}

.user-list-div{
  /* width:100%;
  height: 100%;
  position:relative;
  background: url('images/cloud_01.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
}

.user-card {
  /* margin:10px; */
  margin: 5px 3px 2px 3px;
  flex: 1 0 auto;
  overflow:hidden;
  /* width: 30%; */
}

.card-body {
  padding:10px;
}

.card-title{
  margin:0px;
}


.search-container{
  width:80%;
}

.card-body{
  /* background-color: transparent; */
}

.line-break {
  width: 80%; 
  text-align: center; 
  border-bottom: 1px solid rgb(134, 130, 130); 
  line-height: 0.1em;
  margin: 0 auto; 
} 

.line-break span { 
  color:#000000;
  font-weight: 350;
  font-family: Baskerville, "Baskerville Old Face", sans-serif;
   background:#fff; 
   padding:0 20px; 
   margin: 5px 0px 2px 0px;
}

#header-wrapper {
  position: relative;
  padding: 0px 0px 40px 0px;
  background-image: url("images/header.svg");
  background-image: url("images/overlay.png"), url("images/header.svg"),  -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-color: #ffffff;
  background-size: 100% 180%;
  background-size: 128px 128px, 100% 180%, auto;
  background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /* padding: 0; */
}


.search-form {
  /* border:1px solid #728181; */
  position: relative;
  /* top: 50%;
  left: 50%; */
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  /* transform: translate(-50%, -50%); */
  background: #fff;
  transition: all 0.3s ease;

}

.search-icon{
  padding:12px 10px 9px 14px;
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 85%;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.main-title{
  color:#ffffff;
  font-weight: 500 !important;
  font-family: Baskerville, "Baskerville Old Face", sans-serif;
}

.sub-title{
  color:#ffffff;
}

.modal-body{
  padding: 16px 16px 0px 16px;
}

.role-confirm-text{
  font-weight: 500;
  font-size:20px;
}

.field-title{
  font-weight: 670;
}

.search-tags{
  display: flex;
  flex-flow: row wrap;
  width:80%;
  max-width: 600px;
  margin: 0 auto;
}

.checkbox-div{
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.search-tag{
  color:#6e4141;
  background-color: #F2B69D 70%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.295);
  padding: 5px 5px 5px 9px;
  border-radius: 5px;
  margin: 5px 7px 5px 0px;
}
.search-tag-remove{
  margin:1px 3px 1px 1px;
}

.skill-tags{
  display: flex;
  flex-flow: row wrap;
  width:100%;
  margin: 5px 0px 20px 0px;
}

.skill-tag{
  /* border: 1px solid #d4d4d4; */
  padding: 5px 9px 5px 9px;
  border-radius: 5px;
  margin: 5px 4px 5px 0px;
  /* font-family: Georgia, serif; */
  font-family: Gill Sans, sans-serif;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.175);
}
.all-buttons{
  margin: 5px 0px 0px 0px;
  text-align: center;
}

.btn-show-me{
  font-size: 17px !important;
  border:solid 1px #ffffff !important;
  padding: 8px 30px 8px 30px !important;
  text-transform: none !important;
  color:#ffffff !important;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  /* background: -webkit-linear-gradient(to right, #FF7088 15%, #F2B69D);  
  background: linear-gradient(to right, #FF7088 15%, #F2B69D); */
  background: none !important;
  /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.295); */
  border-radius: 5px !important;
  /* font-family: Baskerville, "Baskerville Old Face", sans-serif; */
  font-family: Optima, sans-serif;
  font-size:17px;
  margin: 5px 5px 5px 5px;
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out !important;

  
}

.btn-show-me:hover {
  color: #FF7088 !important;
  background: #ffffff !important;
}

.user-id-tags{
  display: flex;
  flex-flow: row wrap;
  width:100%;
}

.user-id-tag{
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px 2px 6px;
  margin: 5px 4px 5px 0px;
  border-radius: 4px;
}

.role-label{
  color:#ffffff;
}

.checkboxx{
  margin: 8px 15px 8px 2px;
}

.fav-user{
  color:#ffffff;
  background: rgba(255, 0, 43, 0.993);
}

.Mentor{
  color:#ffffff;
  background: rgba(26, 158, 235, 0.781);
}

.Mentee{
  color:#ffffff;
  background: rgba(9, 194, 40, 0.781);
}

.score-text{
  color:#2b9761;
  font-weight: 550;
}

h1{ 
  font-size: 57px !important;
}

.user-card-inner:hover .progressive-image {
  opacity: 0.3;
  transition: .5s ease;
}


.progressive-image {
  transition: .5s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  
}
.progressive-image-canvas {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.progressive-image-main {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 1;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-out;
  transform: translateZ(0);
}
.progressive-image-before-enter {
  /* opacity: 1; */
}
/* .progressive-image-enter {
  opacity: 0.3;
  transition: .5s ease;
} */
.progressive-image-placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: ease-out;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.1);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.progressive-image-placeholder-out {
  transition-duration: inherit;
  transition-property: all;
  transition-timing-function: ease-out;
  /**
   * the transitioon delay needs to be longer than the
   * .progressive-image-main transition-duration, otherwise it will flick
   * because there won't be a background.
  */
  transition-delay: 0.4s;
  opacity: 0;
}
.progressive-image-preloader {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) { 
  .card-columns{
    column-count: 5 !important; 
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .card-columns{
    column-count: 4 !important;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .card-columns{
    column-count: 3 !important;
  }

  h1{
    font-size: 53px !important;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .card-columns{
    column-count: 3 !important;
  }

  h1{
    font-size: 53px !important;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .card-columns{
    column-count: 2 !important;
  }

  #header-wrapper {
    position: relative;
    padding: 0px 0px 40px 0px;
    background-image: url("images/header.svg");
    background-image: url("images/overlay.png"), url("images/header.svg"),  -moz-linear-gradient(55deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(55deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(55deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(55deg, #FF7088 15%, #F2B69D 55%);
    background-color: #ffffff;
    background-size: 100% 100%;
    background-size: 128px 128px, 100% 100%, auto;
    background-repeat: repeat, no-repeat, no-repeat;
    /* padding: 0; */
  }

  h1{
    font-size: 45px !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .card-columns{
    column-count: 1 !important;
  }

  #header-wrapper {
    position: relative;
    padding: 0px 0px 40px 0px;
    background-image: url("images/header.svg");
    background-image: url("images/overlay.png"), url("images/header.svg"),  -moz-linear-gradient(70deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(70deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(70deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(70deg, #FF7088 15%, #F2B69D 55%);
    background-color: #ffffff;
    background-size: 100% 100%;
    background-size: 128px 128px, 100% 100%, auto;
    background-repeat: repeat, no-repeat, no-repeat;
    /* padding: 0; */
  }

  h1{
    font-size: 38px !important;
  }
  
}

@media (min-width: 10px) and (max-width: 319px) {
  .card-columns{
    column-count: 1 !important;
  }


  h1{
    font-size: 25px !important;
  }
  
}