.Entertainment{
    color: #ffffff;
    background-color: #f1b9a6e7;
}
      
.Sport{
    color: #ffffff;
    background-color: #88c8db;
}
    
.Game{
    color: #ffffff;
    background-color: #93a2f8;
}
 
.Life{
    color: #ffffff;
    background-color: #d075faab;
  }

.Custom{
    color: #ffffff;
    background-color: #ff0800;
}