.Music{
    color: #ffffff;
    background-color: #dd1f68;
}
      
.Sport{
    color: #ffffff;
    background-color: #20c1f1;
}
    
.Game{
    color: #ffffff;
    background-color: #ebdd1b;
}

.Hobby{
    color: #ffffff;
    background-color: #f15120;
}

.Movies{
    color: #ffffff;
    background-color: #4620f1;
}

.Anime{
    color: #ffffff;
    background-color: #2eda17;
}

.Series{
    color: #ffffff;
    background-color: #f1af20;
}

.Shows{
    color: #ffffff;
    background-color: #f1209a;
}
      
.Lifestyle{
    color: #ffffff;
    background-color: #af20f1;
  }