body{
  width:100%;
  /* height: 100%; */
  background: url('images/cloud_new_base_02.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  
  /* position: relative; */
  /* background-image: url("images/header.svg");
  background-image: url("images/header.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
  background-image: url("images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%); */
  /* background-color: #ffffff; */
  /* background-size: 100% 100%;
  background-size: 128px 128px, 100% 100%, auto; */
  /* background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; */
}

@media (min-width: 10px) and (max-width: 767px) {
  body{
    background: url('images/white_background.jpg') no-repeat;
    background-color: #ffffff;
  }
}