{% autoescape off %}
  Hi {{ user.username }},

  Please follow this link to confirm your email address:

  {{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}

  If clicking the link above doesn't work, please copy and paste the URL in a new browser
  window instead.

  If the link is invalid, it might be the case that you have already activated your account.
  You can go to the login page and try to login (Note that the username is your computing id
  , not your email). If you can't login, please contact MSN program chair via WeChat or reply
  to this email.

  If you didn't create a MSN Match account, you can ignore this email.

  Sincerely,
  MSN Tech
{% endautoescape %}