<!-- templates/match.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Match{% endblock %}

{% block content %}
<div class="container">
	<div class="justify-content-center">
		<!-- <h1 class="mt-2"> Welcome Back! </h1> -->
		<div class = "col mt-3 mb-3">
			<h2 class="mb-2 text-center">Matches Received</h2>
			<hr>
			<div class="match-request-container">
				<div class="card border-danger mb-3" style="max-width: 30rem; margin: 0 auto;">
					<a class="card-header bg-transparent border-danger text-danger" data-toggle="collapse" href="#match_request_div" role="button" aria-expanded="{% if match_request %} true {% else %} false {% endif %}" aria-controls="match_request_div">
						<h5>Match Requests</h5>
					</a>
					<div class="match-request collapse {% if match_request %} show {% endif %}" id="match_request_div">
						<div class="card-body">
							{% for match_req in match_request %}
								<div class="container">
									<div class="card border-danger mb-3" style="max-width: 30rem; margin: 0 auto;">
										<a class="card-header bg-transparent border-danger text-danger" data-toggle="collapse" href="#match_request_{{ match_req.pk }}" role="button" aria-expanded="false" aria-controls="match_request_{{ match_req.pk }}">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1 font-weight-bold">{{ match_req.matchrequest.title }}</h5>
												<small>{% if match_req.to_user.username == request.user.username %} Received {% else %} Sent {% endif %}</small>
											</div>
										</a>
										<div class="collapse" id="match_request_{{ match_req.pk }}">
											<div class="card-body text-danger">
												<h5 class="card-title">
													{% if match_req.to_user.username == request.user.username %}
														<a href="{% url 'profile' match_req.from_user.username %}">
															{{ match_req.from_user.first_name }} {{ match_req.from_user.last_name }}
														</a>
													{% else %}
														<a href="{% url 'profile' match_req.to_user.username %}">
															{{ match_req.to_user.first_name }} {{ match_req.to_user.last_name }}
														</a>
													{% endif %}														
												</h5>
												<p class="card-text">{{ match_req.matchrequest.reason }}</p>
												{% if match_req.to_user.username == request.user.username %}
													<form method="post">
														{% csrf_token %}
														<input type="hidden" name="r_id" value="{{ match_req.pk }}">
														<div style="display:inline-block;overflow: auto;white-space: nowrap;margin:0px auto;width:100%;">
															<div style="float:left;">
																<input class="btn btn-outline-success waves-effect" type="submit" value="accept" name="accept"/>
															</div>
															<div style="float:right;">
																<input class="btn btn-outline-warning waves-effect" type="submit" value="reject" name="reject"/>
															</div>
														</div>
													</form>
												{% endif %}
											</div>
											<div class="card-footer bg-transparent border-danger">
												<p class="card-text"><small class="text-muted">Request sent at {{ match_req.created }}</small></p>
											</div>
										</div>
									</div>
								</div>	
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="match-ongoing-container">
				<div class="card border-primary mb-3" style="max-width: 30rem; margin: 0 auto;">
					<a class="card-header bg-transparent border-primary text-primary" data-toggle="collapse" href="#match_ongoing_div" role="button" aria-expanded="false" aria-controls="match_ongoing_div">
						<h5>Ongoing Matches</h5>
					</a>
					<div class="match-ongoing collapse" id="match_ongoing_div">
						<div class="card-body">
							{% for cm in match_ongoing %}
								<div class="container">
									<div class="card border-primary mb-3" style="max-width: 30rem; margin: 0 auto;">
										<a class="card-header bg-transparent border-primary text-primary" data-toggle="collapse" href="#match_ongoing_{{ cm.pk }}" role="button" aria-expanded="false" aria-controls="match_ongoing_{{ cm.pk }}">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1 font-weight-bold">{{ cm.title }}</h5>
												<small>{% if cm.to_user.username == request.user.username %} Received {% else %} Sent {% endif %}</small>
											</div>
										</a>
										<div class="collapse" id="match_ongoing_{{ cm.pk }}">
											<div class="card-body text-primary">
												<h5 class="card-title">
													{% if cm.to_user.username == request.user.username %}
														<a href="{% url 'profile' cm.from_user.username %}">
															{{ cm.from_user.first_name }} {{ cm.from_user.last_name }}
														</a>
													{% else %}
														<a href="{% url 'profile' cm.to_user.username %}">
															{{ cm.to_user.first_name }} {{ cm.to_user.last_name }}
														</a>
													{% endif %}
													</a>
												</h5>
												<p class="card-text">{{ cm.reason }}</p>
												<form method="post">
													{% csrf_token %}
													<input type="hidden" name="match" value="{{ cm.id }}">
													<div style="display:inline-block;overflow: auto;white-space: nowrap;margin:0px auto;width:100%;">
														<div style="float:left;">
															<input class="btn btn-outline-success waves-effect" type="submit" value="Finish" name="Finish"/>
														</div>
													</div>
												</form>
											</div>
											<div class="card-footer bg-transparent border-primary">
												<p class="card-text"><small class="text-muted">Match accepted at {{ cm.created }}</small></p>
											</div>
										</div>
									</div>
								</div>	
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="match-to-be-reviewed-container">
				<div class="card border-primary mb-3" style="max-width: 30rem; margin: 0 auto;">
					<a class="card-header border-primary bg-transparent" data-toggle="collapse" href="#match_to_be_reviewed" role="button" aria-expanded="false" aria-controls="match_to_be_reviewed">
						<h5>To-Be-Reviewed Matches</h5>
					</a>
					<div class="match-to-be-reviewed collapse" id="match_to_be_reviewed">
						<div class="card-body">
							{% for m in match_to_be_reviewed %}
								<a href="" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modalContactForm_{{ m.pk }}">
									<div class="d-flex w-100 justify-content-between">
										<h6 class="mb-1 font-weight-bold">{{ m.title }}</h6>
									</div>
									<p class="mb-1">{{ m.to_user.first_name }} {{ m.to_user.last_name }}</p>
								</a>
								<div class="modal fade" id="modalContactForm_{{ m.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
											aria-hidden="true">
									<form method="post">
										{% csrf_token %}
										<input type="hidden" name="review" value="{{ m.id }}">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h4 class="modal-title w-100 font-weight-bold">Review</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body mx-3">
														<div class="md-form mb-5">
															<i class="fas fa-user prefix grey-text"></i>
															<input type="text" id="form34" class="form-control validate" name="user_name">
															<label data-error="wrong" data-success="right" for="form34">Your name</label>
														</div>
								
														<div class="md-form">
															<i class="fas fa-pencil prefix grey-text"></i>
															<textarea type="text" id="form8" class="md-textarea form-control" rows="4" name=comment></textarea>
															<label data-error="wrong" data-success="right" for="form8"> Comments </label>
														</div>
														<div>
															<tr>
															<td class="style10"><label>Rate this match: </label></td>
															<td class="style10">
																	<input id="1"  type="radio" name="rate" value="1" class="mr-1"/><span>1</span>
																	<input id="2" type="radio" name="rate" value="2" class="mr-1" /><span>2</span>
																	<input id="3" type="radio" name="rate" value="3" class="mr-1" /><span>3</span>
																	<input id="4" type="radio" name="rate" value="4" class="mr-1" /><span>4</span>
																	<input id="5" type="radio" name="rate" value="5" class="mr-1" /><span>5</span>
															</td>
														</tr>
														</div>
													</div>
													<div class="modal-footer d-flex justify-content-center">
														<button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
													</div>
												</div>
											</div>
									</form>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="match-finished-container">
				<div class="card border-primary mb-3" style="max-width: 30rem; margin: 0 auto;">
					<a class="card-header bg-transparent border-primary text-primary" data-toggle="collapse" href="#match_finished_div" role="button" aria-expanded="false" aria-controls="match_finished_div">
						<h5>Finished Matches</h5>
					</a>
					<div class="match-received-finished collapse" id="match_finished_div">
						<div class="card-body">
							{% for cm in match_finished %}
								<div class="container">
									<div class="card border-primary mb-3" style="max-width: 30rem; margin: 0 auto;">
										<a class="card-header bg-transparent border-primary text-primary" data-toggle="collapse" href="#match_finished_{{ cm.pk }}" role="button" aria-expanded="false" aria-controls="match_finished_{{ cm.pk }}">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1 font-weight-bold">{{ cm.title }}</h5>
												<small>{% if cm.to_user.username == request.user.username %} Received {% else %} Sent {% endif %}</small>
											</div>
										</a>
										<div class="collapse" id="match_finished_{{ cm.pk }}">
											<div class="card-body text-primary">
												<h5 class="card-title">
													{% if cm.to_user.username == request.user.username %}
														<a href="{% url 'profile' cm.from_user.username %}">
															{{ cm.from_user.first_name }} {{ cm.from_user.last_name }}
														</a>
													{% else %}
														<a href="{% url 'profile' cm.to_user.username %}">
															{{ cm.to_user.first_name }} {{ cm.to_user.last_name }}
														</a>
													{% endif %}
													</a>
												</h5>
												{% if cm.reviewed == False %}
													{{ cm.from_user.first_name }} {{ cm.from_user.last_name }} hasn't reviewed yet.
												{% else %}
													<p class="card-text">{{ cm.comment }}</p>
													<p class="card-text">Rating: {{ cm.rating }}</p>
												{% endif %}
											</div>
											<div class="card-footer bg-transparent border-primary">
												<p class="card-text"><small class="text-muted">Match accepted at {{ cm.created }}</small></p>
											</div>
										</div>
									</div>
								</div>	
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}
