<!-- templates/profile.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{% load users_tags %}


{% block title %}Profile{% endblock %}

{% block css %}
<link href="{% static 'css/userprofile.css' %}" rel="stylesheet">
<link href="{% static 'css/tags_color.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 toppad " style="width:100%; margin: 0 auto;">
    <div class="card mt-3 mb-1">
      {% if user.profile.picture %}
        <img src="{{ user.profile.picture.url }}" class="card-img-top" >
      {% else %}
        <img src="/static/images/brand.jpg" alt="None" class="card-img-top">
      {% endif %}
      <div class="skill-tags">
          {% for skill in user_skills%}
              <span class="skill-tag {{skill.skill_type}}"> {{skill.skill_name}} </span>
          {% endfor %}
      </div>
      <div class="card-body">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{user.profile.email}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{user.profile.year}}</td>
                </tr>
                <tr>
                    <td>Major</td>
                    <td>{{user.profile.major}}</td>
                </tr>
                <tr>
                    <td>Birth Date</td>
                    <td>{{user.profile.birth_date}}</td>
                </tr>
                <tr>
                    <td>Sex</td>
                    <td>{{user.profile.sex}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{user.profile.location}}</td>
                </tr>
                <tr>
                    <td>Bio</td>
                    <td>{{user.profile.bio}}</td>
                </tr>
            </tbody>
        </table>
      </div>
      
		</div>
  </div>
</div>
{% endblock %}
