<!-- templates/skill_search.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{% block title %}Skill Search{% endblock %}

{% block css %}
<link href="{% static 'css/autocomplete_skill.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>


<form autocomplete="off">
  <div class="container">
    <!-- <div class = "justify-content-center"> -->
    <br />
    <div class="col-12 mb-5" style = "width:100%; margin: 0 auto;">
        <div class="container mt-5 mb-4 text-center">
            <h1 style="font-size:65px">Add a Skill</h1>
            <h5>Search for hundreds of blahblah</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0" style="width:100%; margin: 0 auto;">
        <div class="autocomplete" id = "skill-list-app" style="width:100%;">
            <autocomplete-comp></autocomplete-comp>
        </div>
    </div>
    </div>

    <br />

  </div>
</form>

<script>
    Vue.component('autocomplete-comp', {
        template: `
        <div>
            <input v-on:keyup="autocomplete_func" v-model="searchquery" id="myInput" type="text" name="class" placeholder="Search for a skill" class="form-control mr-sm-2" aria-label="Search">
            <div class="autocomplete-items">
                <div class="autocomplete-item" v-for="skill in skill_results">
                    <table style="width:100%;">
                        <tr>
                            <td class="autocomplete-skr" style="width:80%;" :value="skill.skill_pk" v-on:click="go_to_skill(skill)">
                                \{\{skill.skill_name\}\}
                            </td>
                            <td style="width:7%;">
                                <span class="fas fa-plus-square" v-if="!skill.skill_exist" v-on:click="add_del_skill(skill)" :value="skill.skill_pk"></span>
                                <span class="fas fa-trash-alt" v-if="skill.skill_exist" v-on:click="add_del_skill(skill)" :value="skill.skill_pk"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        `,
        data: function () {
            return {
            searchquery: '',
            skill_results: null,
            }
        },
        methods:{
            autocomplete_func(){
                axios.get('/skills/ajax/result/',{params: {searchquery: this.searchquery}}).then(response => {
                    this.skill_results = [];
                    this.skill_results = response.data.skill_list;
                    });
            },
            add_del_skill(skill){
                axios.get('/skills/ajax/add_del_skill/',{params: {skill_pk: skill.skill_pk}}).then(response => {
                    });
                if (skill.skill_exist){
                    skill.skill_exist = false
                }
                else{
                    skill.skill_exist = true
                }
            },
            go_to_skill(skill){
                window.location.href = "/skills/"+ skill.skill_pk;
            },
        },
        })
        
    var skill_list_app = new Vue({
        el: "#skill-list-app",
    })
</script>
{% endblock %}
