<!-- templates/skill_rank.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{% block title %}Trending Tags{% endblock %}

{% block css %}
    <link href="{% static 'css/skill_rank.css' %}" rel="stylesheet">
    <link href="{% static 'css/tags_color.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<div class="mt-3 mb-3 col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 container" style="width:100%; margin: 0 auto;">
    <div class="big-title text-center mt-3 mb-3">
        <span>Trending Tags</span>
    </div>
	<div class="all-skills">
        {% for skill in all_skills %}
        <div class="skill">
            <span class="skill-rank">{{ forloop.counter }}</span>
            <a href="{% url 'skill' skill.pk %}" class="skill-main">
                <span class="font-weight-bold">{{ skill.skill_name }}</span>
            </a>
            <span class="tag-type {{skill.skill_type}}">{{ skill.skill_type }}</span> 
            <span class="tag-user">{{ skill.num_users }}{% if skill.num_users > 1 %} users{% else %} user{% endif %}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
