<!-- templates/tags.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Tags{% endblock %}

{% block content %}
<link rel="stylesheet"  href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.8.1/css/all.css">
<link rel="stylesheet" href="{% static 'css/tags_color.css' %}">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.js"></script>

<div id="tags-page"></div>

{% render_bundle 'tagspage' %}

{% endblock %}
